addict==2.4.0
basicsr==1.4.2
diffusers==0.18.2
easydict==1.10
einops==0.6.1
gradio==3.39.0
huggingface_hub==0.15.1
imgaug==0.4.0
ipdb==0.13.13
matplotlib==3.7.1
networkx==3.1
numpy==1.24.3
onnxruntime==1.15.1
openai==0.27.6
opencv_python==4.7.0.72
opencv_python_headless==4.7.0.72
Pillow==10.0.0
pycocotools==2.0.6
PyYAML==6.0.1
Requests==2.31.0
scipy==1.9.1
setuptools==66.0.0
skimage==0.0
supervision==0.11.1
tensorboardX==2.6.1
termcolor==2.3.0
timm==0.6.13
torch==2.0.1
torchvision==0.15.1
transformers==4.28.1
yapf==0.33.0
