torch==2.0.1
torchvision==0.15.2
diffusers==0.19.3
transformers==4.31.0
gradio==3.39.0
einops==0.6.1
openai==0.27.8
opencv_python==4.8.0.74
timm==0.9.5
pycocotools==2.0.6
controlnet_aux=0.0.6
accelerate==0.21.0
xformers==0.0.20
mediapipe==0.10.3
easydict==1.10
tensorboardX==2.6.2

imgaug==0.4.0
ipdb==0.13.13
onnxruntime==1.15.1
opencv_python_headless==4.7.0.72
setuptools==66.0.0
supervision==0.11.1

termcolor==2.3.0
yapf==0.33.0
addict==2.4.0
basicsr==1.4.2